@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap');

$font-family-base:'arbutus slab', serif;

$headings-font-family: 'barlow condensed', sans-serif;

$h1-font-size:4rem;
$h2-font-size:3rem;
$h3-font-size:2rem;
$h4-font-size:1.5rem;
$h5-font-size:1.25;
$h6-font-size:1rem;

.btn{
    font-family: sans-serif;
}

.navbar{
    display: flex;
    margin-left:10%;
    margin-right:10%;
    background-color: #000;
}



.hero{
    padding: 10%;
    padding-right: 50%;
    height: 600px;
    background-image: url(../images/image-parlour.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #f0f0f0;
    
}

.featured{
    height: 750px;
    background-color: #005555;
    color: #f0f0f0;
}

.centered-h1{
    text-align: center;
}

.card{
    text-align: center;
}


.col-lg-4{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.google-map{
    padding-bottom: 30%;
    position: relative;
}

.footer-content{
    background-color: #005555;
}

.google-map iframe{
    height: 50%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;

}

$primary:#005555;
$secondary:#cc6600;
$dark:black;



// .hero::before{
//     linear-gradient: (to right, #005555, transparent);
//     z-index: 1;
// }


@import "../node_modules/bootstrap/scss/bootstrap";

